.staff__reg__background {
  display: flex;
  justify-content: center;

  margin: 50px auto;
  padding: 24;
  font-family: var(--font-main);
  border-radius: 8;
}

.staff__reg__inner {
  width: 100%;
  max-width: 600px;
  padding: 50px;
}

.inner__form__div {
  display: flex;
  padding-top:40px;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid rgba(224, 215, 198, 0.19607);
}

.input__text{
    width:100%;
    margin-top:10px;
}

.input__text,
label,
button {
  font-family: var(--font-secondary);
  color: var(--fontc);
}

.submit__btn{
    cursor:pointer; 
    width: 150px;
    height:30px;
    margin-top: 40px;
    border: 1px var(--fontc) solid;
}

.required {
  font-size: 1.125rem;
  padding-left: 0.25rem;
  color: #a02222;
}


